ai-workflows/ai_test_1.json
{
  "updatedAt": "2025-09-20T09:36:13.000Z",
  "createdAt": "2025-08-09T10:14:29.515Z",
  "id": "4kYPyJujhnAXGRfZ",
  "name": "ai test 1",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "345ba87e-608f-4a38-8256-cac673c86ab1",
      "name": "When chat message received",
      "webhookId": "942ceec8-7ea9-4a9f-8727-284d7c7478f3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}\n\nuse the connected SerpAPI tool to look up information.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "1d922aae-401a-4ecf-9a3f-77ff5f781dc7",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        240,
        272
      ],
      "id": "5a7f4c95-6ba5-4220-903e-8cc4ec710ae7",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "7qSemfj2qEdhU246",
          "name": "Postgres account Aiven"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        416,
        272
      ],
      "id": "e997d1a3-c4de-4198-b3c8-06182eebe732",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "gqXFCfgXSf8P1nqJ",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "1d08ec94-99fa-428c-99e8-36dfc382e89c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0Y3IITMeiDyvu2zW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e6545086-c02d-49db-abe4-c0d71a050eb6",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-08-09T10:14:29.611Z",
      "createdAt": "2025-08-09T10:14:29.611Z",
      "role": "workflow:owner",
      "workflowId": "4kYPyJujhnAXGRfZ",
      "projectId": "bnvMSIIUgNfVjAJN"
    }
  ],
  "activeVersion": null,
  "tags": []
}