workflows/Insta_DMs.json
{
  "updatedAt": "2025-12-28T21:14:30.964Z",
  "createdAt": "2025-11-07T18:51:21.243Z",
  "id": "KfJT1b9qUCm9Nln0",
  "name": "Insta DMs",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "32c0d16d-c135-47ea-9f3b-72610f142822",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "9a4efde2-f036-4d2f-9100-b55da7cc9f3a",
      "name": "Webhook",
      "webhookId": "32c0d16d-c135-47ea-9f3b-72610f142822"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        304,
        -160
      ],
      "id": "2e05be9e-7dc6-47f2-9b0d-420bb34b070b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2a451a6d-097f-8059-be8a-ff2a436103d9",
          "mode": "list",
          "cachedResultName": "Raw",
          "cachedResultUrl": "https://www.notion.so/2a451a6d097f8059be8aff2a436103d9"
        },
        "title": "={{ $json.body.entry[0].messaging[0].message.attachments[0].payload.title + \" \" + $json.body.entry[0].messaging[0].sender.id }}  ",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Source|rich_text",
              "textContent": "={{ $json.body.entry[0].messaging[0].message.attachments[0].type }}"
            },
            {
              "key": "URL|rich_text",
              "textContent": "={{ $json.body.entry[0].messaging[0].message.attachments[0].payload.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        688,
        -432
      ],
      "id": "334aea57-10e5-4183-9cd5-9de8b265f3a5",
      "name": "Raw",
      "credentials": {
        "notionApi": {
          "id": "NsYBQ9PiZRbvlVC9",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bZxFUrOPmVEbMTkA",
          "mode": "list",
          "cachedResultUrl": "/workflow/bZxFUrOPmVEbMTkA",
          "cachedResultName": "Variants"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        784,
        128
      ],
      "id": "0bc83f53-dc73-46d0-920d-ce8cbafc437f",
      "name": "Call 'Variants'"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1440,
        128
      ],
      "id": "71d1aa66-c1a9-4b84-9b6d-17d5385864d7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "29451a6d-097f-8008-aa06-f33a562cfa0b",
          "mode": "list",
          "cachedResultName": "Editor",
          "cachedResultUrl": "https://www.notion.so/29451a6d097f8008aa06f33a562cfa0b"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Username|title",
              "title": "=\n{{ $json.JSON.watermark }}"
            },
            {
              "key": "Original Caption|rich_text",
              "textContent": "={{ $('Webhook').item.json.body.entry[0].messaging[0].message.attachments[0].payload.title }}"
            },
            {
              "key": "Caption|rich_text",
              "textContent": "={{ $('Loop Over Items').item.json.caption }}"
            },
            {
              "key": "Endpoint|rich_text",
              "textContent": "={{ $('Loop Over Items').item.json.endpoint }}"
            },
            {
              "key": "ID|number",
              "numberValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2064,
        144
      ],
      "id": "8f3a38a4-998b-485c-9077-36d33b1e28ec",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "NsYBQ9PiZRbvlVC9",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "vid-data",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "JSON",
              "fieldValue": "={{ $json.request_json }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1728,
        144
      ],
      "id": "e7c8c96b-ca9c-4a92-bbbb-762b7c394250",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "j84qLlabBvYbnIAd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        368
      ],
      "id": "952f9641-d4fc-45ec-9731-0c60dcee45f9",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DzChCSlZ5mu2SvvH",
          "mode": "list",
          "cachedResultUrl": "/workflow/DzChCSlZ5mu2SvvH",
          "cachedResultName": "Audio & 360p Extraction (Cloud Run API)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.body.entry[0].messaging[0].message.attachments[0].payload.url }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        576,
        128
      ],
      "id": "3294c3e1-99b2-430a-b6e3-ac3e2ea7afea",
      "name": "Call 'Audio & 360p Extraction (Cloud Run API)'"
    },
    {
      "parameters": {
        "url": "={{ $json.body.entry[0].messaging[0].message.attachments[0].payload.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        -32
      ],
      "id": "1edd19e3-b86f-40da-92e2-4f92feab8a3e",
      "name": "HTTP Request1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Audio & 360p Extraction (Cloud Run API)'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Variants'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Call 'Audio & 360p Extraction (Cloud Run API)'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Audio & 360p Extraction (Cloud Run API)'": {
      "main": [
        [
          {
            "node": "Call 'Variants'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "n8n.ncertbot.fun",
            "x-real-ip": "173.252.79.4",
            "x-forwarded-for": "173.252.79.4",
            "x-forwarded-proto": "https",
            "content-length": "937",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "user-agent": "facebookexternalua",
            "content-type": "application/json",
            "x-hub-signature": "sha1=8815e1b6d82b213c67abc2ac5da79cc1020b3304",
            "x-hub-signature-256": "sha256=fbef5ac5be8ef1a599f7fe03512047e2078d486ccc7327ae1a71d10ec1b210e5",
            "instagram-api-version": "v24.0"
          },
          "params": {},
          "query": {},
          "body": {
            "object": "instagram",
            "entry": [
              {
                "time": 1766956048226,
                "id": "17841477319471038",
                "messaging": [
                  {
                    "sender": {
                      "id": "1126095236362409"
                    },
                    "recipient": {
                      "id": "17841477319471038"
                    },
                    "timestamp": 1766955765631,
                    "message": {
                      "mid": "aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDc3MzE5NDcxMDM4OjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI1OTg1MjMzMDgwNDA5Mjg2NTozMjU5NDU4MDc5ODE3MjAyODEwMjAzNjc2Njk0MTI0OTUzNgZDZD",
                      "attachments": [
                        {
                          "type": "ig_reel",
                          "payload": {
                            "reel_video_id": "18046765355442417",
                            "title": "Everything is working in your favor!🤍\n\n#shiftinconciousness #higherself #quantumjump #selfevolution #manifestation #777 #444 #111",
                            "url": "https://lookaside.fbsbx.com/ig_messaging_cdn/?asset_id=18046765355442417&signature=AYd262zYK15uCi_6n0NLXmv81Y8Y4uYXp5a2Ap-ORpQXns2aYbobf6y5oU4RW9gOuYq8-ezbyvz-eDdFF2AEX0c_iDEgV50nOtIEGXhEsFU9iG08GTulHjL67Hm7RPQmoH_VQWTuIc9imGb0kej-udyyiuDAnShvjZSnysfumAWdddpKcfvochTArAdhapZiC575T1a-lx2WeEkp4i16dk9-xYEMdz37"
                          }
                        }
                      ]
                    }
                  }
                ]
              }
            ]
          },
          "webhookUrl": "https://n8n.ncertbot.fun/webhook-test/32c0d16d-c135-47ea-9f3b-72610f142822",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0,
          "input": 1
        }
      }
    ]
  },
  "versionId": "4daa6bde-8473-461d-b667-368e5dd049c1",
  "activeVersionId": "4daa6bde-8473-461d-b667-368e5dd049c1",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-07T18:51:21.379Z",
      "createdAt": "2025-11-07T18:51:21.379Z",
      "role": "workflow:owner",
      "workflowId": "KfJT1b9qUCm9Nln0",
      "projectId": "bnvMSIIUgNfVjAJN"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-28T21:14:37.000Z",
    "createdAt": "2025-12-28T21:14:30.965Z",
    "versionId": "4daa6bde-8473-461d-b667-368e5dd049c1",
    "workflowId": "KfJT1b9qUCm9Nln0",
    "nodes": [
      {
        "parameters": {
          "multipleMethods": true,
          "path": "32c0d16d-c135-47ea-9f3b-72610f142822",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "9a4efde2-f036-4d2f-9100-b55da7cc9f3a",
        "name": "Webhook",
        "webhookId": "32c0d16d-c135-47ea-9f3b-72610f142822"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "={{ $json.query['hub.challenge'] }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          304,
          -160
        ],
        "id": "2e05be9e-7dc6-47f2-9b0d-420bb34b070b",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "resource": "databasePage",
          "databaseId": {
            "__rl": true,
            "value": "2a451a6d-097f-8059-be8a-ff2a436103d9",
            "mode": "list",
            "cachedResultName": "Raw",
            "cachedResultUrl": "https://www.notion.so/2a451a6d097f8059be8aff2a436103d9"
          },
          "title": "={{ $json.body.entry[0].messaging[0].message.attachments[0].payload.title + \" \" + $json.body.entry[0].messaging[0].sender.id }}  ",
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Source|rich_text",
                "textContent": "={{ $json.body.entry[0].messaging[0].message.attachments[0].type }}"
              },
              {
                "key": "URL|rich_text",
                "textContent": "={{ $json.body.entry[0].messaging[0].message.attachments[0].payload.url }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          688,
          -432
        ],
        "id": "334aea57-10e5-4183-9cd5-9de8b265f3a5",
        "name": "Raw",
        "credentials": {
          "notionApi": {
            "id": "NsYBQ9PiZRbvlVC9",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "bZxFUrOPmVEbMTkA",
            "mode": "list",
            "cachedResultUrl": "/workflow/bZxFUrOPmVEbMTkA",
            "cachedResultName": "Variants"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {}
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          784,
          128
        ],
        "id": "0bc83f53-dc73-46d0-920d-ce8cbafc437f",
        "name": "Call 'Variants'"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1440,
          128
        ],
        "id": "71d1aa66-c1a9-4b84-9b6d-17d5385864d7",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "resource": "databasePage",
          "databaseId": {
            "__rl": true,
            "value": "29451a6d-097f-8008-aa06-f33a562cfa0b",
            "mode": "list",
            "cachedResultName": "Editor",
            "cachedResultUrl": "https://www.notion.so/29451a6d097f8008aa06f33a562cfa0b"
          },
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Username|title",
                "title": "=\n{{ $json.JSON.watermark }}"
              },
              {
                "key": "Original Caption|rich_text",
                "textContent": "={{ $('Webhook').item.json.body.entry[0].messaging[0].message.attachments[0].payload.title }}"
              },
              {
                "key": "Caption|rich_text",
                "textContent": "={{ $('Loop Over Items').item.json.caption }}"
              },
              {
                "key": "Endpoint|rich_text",
                "textContent": "={{ $('Loop Over Items').item.json.endpoint }}"
              },
              {
                "key": "ID|number",
                "numberValue": "={{ $json.id }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          2064,
          144
        ],
        "id": "8f3a38a4-998b-485c-9077-36d33b1e28ec",
        "name": "Create a database page",
        "credentials": {
          "notionApi": {
            "id": "NsYBQ9PiZRbvlVC9",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "tableId": "vid-data",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "JSON",
                "fieldValue": "={{ $json.request_json }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1728,
          144
        ],
        "id": "e7c8c96b-ca9c-4a92-bbbb-762b7c394250",
        "name": "Create a row",
        "credentials": {
          "supabaseApi": {
            "id": "j84qLlabBvYbnIAd",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -48,
          368
        ],
        "id": "952f9641-d4fc-45ec-9731-0c60dcee45f9",
        "name": "When clicking ‘Execute workflow’",
        "disabled": true
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "DzChCSlZ5mu2SvvH",
            "mode": "list",
            "cachedResultUrl": "/workflow/DzChCSlZ5mu2SvvH",
            "cachedResultName": "Audio & 360p Extraction (Cloud Run API)"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "url": "={{ $json.body.entry[0].messaging[0].message.attachments[0].payload.url }}"
            },
            "matchingColumns": [
              "url"
            ],
            "schema": [
              {
                "id": "url",
                "displayName": "url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          576,
          128
        ],
        "id": "3294c3e1-99b2-430a-b6e3-ac3e2ea7afea",
        "name": "Call 'Audio & 360p Extraction (Cloud Run API)'"
      },
      {
        "parameters": {
          "url": "={{ $json.body.entry[0].messaging[0].message.attachments[0].payload.url }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          496,
          -32
        ],
        "id": "1edd19e3-b86f-40da-92e2-4f92feab8a3e",
        "name": "HTTP Request1"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'Audio & 360p Extraction (Cloud Run API)'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Variants'": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Create a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a database page": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a row": {
        "main": [
          [
            {
              "node": "Create a database page",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Call 'Audio & 360p Extraction (Cloud Run API)'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Audio & 360p Extraction (Cloud Run API)'": {
        "main": [
          [
            {
              "node": "Call 'Variants'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Debabrata Maitra",
    "name": "v2",
    "description": "",
    "autosaved": false
  },
  "tags": []
}