workflows/insta_download.json
{
  "updatedAt": "2025-12-28T19:11:18.000Z",
  "createdAt": "2025-10-30T20:10:31.803Z",
  "id": "Zm5dMf7vTVAc6oe8",
  "name": "insta download",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5bddf724-a7f4-41ed-890b-207ecb8552d0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "xMc5Ga1oCONPmWJIa",
          "mode": "list",
          "cachedResultName": "Instagram Reel Scraper (apify/instagram-reel-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/xMc5Ga1oCONPmWJIa/input"
        },
        "customBody": "{\n    \"includeSharesCount\": false,\n    \"resultsLimit\": 30,\n    \"username\": [\n        \"https://www.instagram.com/reel/DPuvgdbEsoX/\"\n    ]\n}",
        "timeout": {},
        "memory": 2048
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "a9798310-0ddf-4efa-a1f1-79e11e6d7cb3",
      "name": "Run an Actor and get dataset",
      "credentials": {
        "apifyApi": {
          "id": "g99Moqj0OwKWD6zI",
          "name": "Apify account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ],
      "id": "56f229e0-12f2-4e40-8240-b2077862b907",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "command": "=ffmpeg -y -i /home/node/{{ $execution.id }}_video.mp4 -vn -acodec libmp3lame -q:a 2 /home/node/{{ $execution.id }}_audio.mp3"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1152,
        -336
      ],
      "id": "d0ba2ad6-261c-4af0-91b1-e046c74a371b",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/{{ $execution.id }}_video.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        608,
        0
      ],
      "id": "44874e26-ef7f-4050-8e4e-7defb9ec6d3a",
      "name": "Read/Write Files from Disk",
      "notesInFlow": false
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/{{ $execution.id }}_audio.mp3",
        "options": {
          "fileExtension": "mp3",
          "dataPropertyName": "audio"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1376,
        -336
      ],
      "id": "4eb33354-22bf-4821-a659-a978a8dfea62",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "assets",
        "fileName": "={{ $json.fileName }}",
        "binaryPropertyName": "audio",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1632,
        -336
      ],
      "id": "317b4d26-6f97-45d5-885c-e6d987b4fc3a",
      "name": "Upload a file",
      "credentials": {
        "s3": {
          "id": "qPRJo0yK63YYqCLJ",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Vid Download\n",
        "height": 368,
        "width": 1008
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        -128
      ],
      "id": "e97651ea-e3c1-4b61-84c9-236e3d5c9d4e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "command": "=rm /home/node/{{ $execution.id }}_video.mp4 /home/node/{{ $execution.id }}_audio.mp3"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2272,
        -240
      ],
      "id": "fe47b933-43e5-4288-83d8-e2580ba0774a",
      "name": "Cleanup"
    },
    {
      "parameters": {
        "content": "## Audio Extraction\n\n",
        "height": 288,
        "width": 992
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1056,
        -416
      ],
      "id": "cfa86cec-8d57-435a-b9da-9d52ba954bd7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fe6caad-b4d1-4387-a522-00495a46826c",
              "name": "audioURL",
              "value": "=https://vllxucytucjyflsenjmz.supabase.co/storage/v1/object/public/assets/{{ $execution.id }}_audio.mp3",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        -336
      ],
      "id": "c77d875b-662f-40d7-b882-1cb71be75fa9",
      "name": "Audio URL"
    },
    {
      "parameters": {
        "content": "## Gemini Analysis\n\n",
        "height": 368,
        "width": 1008
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        240
      ],
      "id": "7dd7bc76-23c8-4abb-98af-3ffacfcd88c9",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Audio URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Run an Actor and get dataset": [
      {
        "json": {
          "inputUrl": "https://www.instagram.com/reel/DPuvgdbEsoX/",
          "id": "3742137279193467415",
          "type": "Video",
          "shortCode": "DPuvgdbEsoX",
          "caption": "",
          "hashtags": [],
          "mentions": [],
          "url": "https://www.instagram.com/p/DPuvgdbEsoX/",
          "commentsCount": 2,
          "firstComment": "I hope you the best and the feelings and the negative thought's ya overwhelmed may they disappear like they never existed and ya will find your true self and ya own success ..!!!!!",
          "latestComments": [
            {
              "id": "18058923254562251",
              "text": "I hope you the best and the feelings and the negative thought's ya overwhelmed may they disappear like they never existed and ya will find your true self and ya own success ..!!!!!",
              "ownerUsername": "zhixi_nyx",
              "ownerProfilePicUrl": "https://scontent-iad3-2.cdninstagram.com/v/t51.2885-19/558546272_18007148201803127_5044113094310692101_n.jpg?stp=dst-jpg_s150x150_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLmRqYW5nby4xMDgwLmV4cGVyaW1lbnRhbCJ9&_nc_ht=scontent-iad3-2.cdninstagram.com&_nc_cat=111&_nc_oc=Q6cZ2QHbOPizadBwG-eYHZizAXVNwMH0A7f8hSHzA9BkwIT4FnFsYiuDN95eRoUa6LGzBMgrH0damTVxfGoMrANKCk0U&_nc_ohc=xcxNF0WHOEIQ7kNvwHYNdPk&_nc_gid=qfmwaRwr0Z_agF3cjb_3Cw&edm=APs17CUBAAAA&ccb=7-5&oh=00_Afh8ZHA6MrBxsolS4PYiUk3oF3C2IMaixGVu2yjRw1n5Ng&oe=690EF156&_nc_sid=10d13b",
              "timestamp": "2025-10-13T01:45:03.000Z",
              "repliesCount": 0,
              "replies": [],
              "likesCount": 1,
              "owner": {
                "id": "54180115126",
                "is_verified": false,
                "profile_pic_url": "https://scontent-iad3-2.cdninstagram.com/v/t51.2885-19/558546272_18007148201803127_5044113094310692101_n.jpg?stp=dst-jpg_s150x150_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLmRqYW5nby4xMDgwLmV4cGVyaW1lbnRhbCJ9&_nc_ht=scontent-iad3-2.cdninstagram.com&_nc_cat=111&_nc_oc=Q6cZ2QHbOPizadBwG-eYHZizAXVNwMH0A7f8hSHzA9BkwIT4FnFsYiuDN95eRoUa6LGzBMgrH0damTVxfGoMrANKCk0U&_nc_ohc=xcxNF0WHOEIQ7kNvwHYNdPk&_nc_gid=qfmwaRwr0Z_agF3cjb_3Cw&edm=APs17CUBAAAA&ccb=7-5&oh=00_Afh8ZHA6MrBxsolS4PYiUk3oF3C2IMaixGVu2yjRw1n5Ng&oe=690EF156&_nc_sid=10d13b",
                "username": "zhixi_nyx"
              }
            },
            {
              "id": "18075220853130705",
              "text": "THANK YOU SM I WISH THE SAME FOR YOU🥺🥺🥺❤️❤️❤️❤️❤️",
              "ownerUsername": "plsstoplikingme",
              "ownerProfilePicUrl": "https://scontent-iad3-1.cdninstagram.com/v/t51.2885-19/557593382_17849911896564376_1602902991648998857_n.jpg?stp=dst-jpg_s150x150_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLmRqYW5nby4xMDgwLmV4cGVyaW1lbnRhbCJ9&_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_cat=104&_nc_oc=Q6cZ2QHbOPizadBwG-eYHZizAXVNwMH0A7f8hSHzA9BkwIT4FnFsYiuDN95eRoUa6LGzBMgrH0damTVxfGoMrANKCk0U&_nc_ohc=zZNShbxnHnQQ7kNvwEBZtH0&_nc_gid=qfmwaRwr0Z_agF3cjb_3Cw&edm=APs17CUBAAAA&ccb=7-5&oh=00_AfgbCfVN4RZMrEZXN-mTpR5wyP3uS4AsOHJQskcxCis-jA&oe=690EFF3C&_nc_sid=10d13b",
              "timestamp": "2025-10-13T01:48:29.000Z",
              "repliesCount": 0,
              "replies": [],
              "likesCount": 0,
              "owner": {
                "id": "76993532375",
                "is_verified": false,
                "profile_pic_url": "https://scontent-iad3-1.cdninstagram.com/v/t51.2885-19/557593382_17849911896564376_1602902991648998857_n.jpg?stp=dst-jpg_s150x150_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLmRqYW5nby4xMDgwLmV4cGVyaW1lbnRhbCJ9&_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_cat=104&_nc_oc=Q6cZ2QHbOPizadBwG-eYHZizAXVNwMH0A7f8hSHzA9BkwIT4FnFsYiuDN95eRoUa6LGzBMgrH0damTVxfGoMrANKCk0U&_nc_ohc=zZNShbxnHnQQ7kNvwEBZtH0&_nc_gid=qfmwaRwr0Z_agF3cjb_3Cw&edm=APs17CUBAAAA&ccb=7-5&oh=00_AfgbCfVN4RZMrEZXN-mTpR5wyP3uS4AsOHJQskcxCis-jA&oe=690EFF3C&_nc_sid=10d13b",
                "username": "plsstoplikingme"
              }
            }
          ],
          "dimensionsHeight": 1136,
          "dimensionsWidth": 640,
          "displayUrl": "https://scontent-iad3-2.cdninstagram.com/v/t51.2885-15/565171148_1379970137028785_5392121095347254216_n.jpg?stp=dst-jpg_e15_tt6&_nc_ht=scontent-iad3-2.cdninstagram.com&_nc_cat=105&_nc_oc=Q6cZ2QHbOPizadBwG-eYHZizAXVNwMH0A7f8hSHzA9BkwIT4FnFsYiuDN95eRoUa6LGzBMgrH0damTVxfGoMrANKCk0U&_nc_ohc=93SN_WJuLqgQ7kNvwHD90LG&_nc_gid=qfmwaRwr0Z_agF3cjb_3Cw&edm=APs17CUBAAAA&ccb=7-5&oh=00_Afji9TkpBg8yKn_fAja3wuljbls4rPpnDIlL3aJhAVO6YQ&oe=690ED0B2&_nc_sid=10d13b",
          "images": [],
          "videoUrl": "https://scontent-iad3-1.cdninstagram.com/o1/v/t16/f2/m86/AQN5CNMnFsy75pdCi_LK31kXcjKvA9W26H3YIg2SmyHkRud3c8q1LfcasDcyLwrPTXkAPPxnrukLDUzFTi3kZB3Zq8ppuByqCErRqB0.mp4?stp=dst-mp4&efg=eyJxZV9ncm91cHMiOiJbXCJpZ193ZWJfZGVsaXZlcnlfdnRzX290ZlwiXSIsInZlbmNvZGVfdGFnIjoidnRzX3ZvZF91cmxnZW4uY2xpcHMuZXhwZXJpbWVudGFsLjcyMC5iYXNlbGluZSJ9&_nc_cat=107&vs=734534122937816_3293920180&_nc_vs=HBksFQIYUmlnX3hwdl9yZWVsc19wZXJtYW5lbnRfc3JfcHJvZC81RDRGRUFDMEQzN0FEMTA2NTBGRjA5NkY4MzAyMkM4M192aWRlb19kYXNoaW5pdC5tcDQVAALIARIAFQIYOnBhc3N0aHJvdWdoX2V2ZXJzdG9yZS9HQlUtclNFM2NlbHIxaTRGQU1TMndqcV9pWXNvYnN0VEFRQUYVAgLIARIAKAAYABsAFQAAJpaYhKn%2B%2FdVAFQIoAkMzLBdAIAAAAAAAABgSZGFzaF9iYXNlbGluZV8xX3YxEQB1%2Fgdl5p0BAA%3D%3D&_nc_rid=f06d31b6a5&ccb=9-4&oh=00_AfgQ3PQhPt2EDnwUCoBoPb_3_H8ZqMLcd16O-qAyIyJpXQ&oe=690B0E04&_nc_sid=10d13b",
          "alt": null,
          "likesCount": 57,
          "videoViewCount": 420,
          "videoPlayCount": 1386,
          "timestamp": "2025-10-13T01:05:51.000Z",
          "childPosts": [],
          "ownerFullName": "ping pong",
          "ownerUsername": "plsstoplikingme",
          "ownerId": "76993532375",
          "productType": "clips",
          "videoDuration": 8.01,
          "isSponsored": false,
          "musicInfo": {
            "artist_name": "WonderBag",
            "song_name": "Manic in Disguise",
            "uses_original_audio": false,
            "should_mute_audio": false,
            "should_mute_audio_reason": "",
            "audio_id": "709609124538402"
          },
          "isCommentsDisabled": false
        }
      }
    ]
  },
  "versionId": "32bbe7bb-c5cf-480f-bc52-567c3b222e75",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-30T20:10:31.961Z",
      "createdAt": "2025-10-30T20:10:31.961Z",
      "role": "workflow:owner",
      "workflowId": "Zm5dMf7vTVAc6oe8",
      "projectId": "bnvMSIIUgNfVjAJN"
    }
  ],
  "activeVersion": null,
  "tags": []
}