workflows/News_Feed_Summarizer_-_Notion_Edition.json
{
  "updatedAt": "2025-09-20T09:36:04.000Z",
  "createdAt": "2025-09-17T04:31:44.385Z",
  "id": "rnuYLkKLLBqk1Smb",
  "name": "News Feed Summarizer - Notion Edition",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "cron_trigger",
      "name": "Cron Trigger - Every 6 Hours",
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "unit": "minutes",
              "value": 360
            }
          ]
        }
      },
      "position": [
        240,
        300
      ],
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1
    },
    {
      "id": "rss_feed",
      "name": "BBC News RSS Feed",
      "parameters": {
        "url": "https://feeds.bbci.co.uk/news/rss.xml"
      },
      "position": [
        460,
        300
      ],
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2
    },
    {
      "id": "extract_top_5",
      "name": "Extract Top 5 Headlines",
      "parameters": {
        "functionCode": "// Extract top 5 news items and create a summary\nconst topItems = items.slice(0, 5);\nconst currentDate = new Date().toLocaleDateString('en-US', { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\n\n// Create summary data\nconst summary = {\n  date: currentDate,\n  totalItems: items.length,\n  headlines: topItems.map((item, index) => ({\n    number: index + 1,\n    title: item.json.title,\n    link: item.json.link,\n    pubDate: item.json.pubDate,\n    description: item.json.description ? item.json.description.substring(0, 150) + '...' : 'No description available'\n  }))\n};\n\nconsole.log(`Processing ${items.length} news items, selecting top 5`);\n\nreturn [{ json: summary }];"
      },
      "position": [
        680,
        300
      ],
      "type": "n8n-nodes-base.function",
      "typeVersion": 1
    },
    {
      "id": "create_markdown",
      "name": "Generate Markdown Digest",
      "parameters": {
        "functionCode": "// Create data for Notion page\nconst data = items[0].json;\n\n// Create page title\nconst pageTitle = `📰 BBC News Digest - ${new Date().toISOString().split('T')[0]}`;\n\n// Create structured content for Notion\nconst notionContent = {\n  title: pageTitle,\n  date: data.date,\n  totalItems: data.totalItems,\n  headlines: data.headlines\n};\n\nconsole.log('Generated content for Notion page');\n\nreturn [{ json: notionContent }];"
      },
      "position": [
        900,
        300
      ],
      "type": "n8n-nodes-base.function",
      "typeVersion": 1
    },
    {
      "id": "notion_save",
      "name": "Save to Notion Page",
      "parameters": {
        "blockUi": {
          "blockValues": [
            {
              "textContent": "**Date:** {{$json.date}}",
              "textType": "paragraph",
              "type": "text"
            },
            {
              "textContent": "**Total Articles:** {{$json.totalItems}}",
              "textType": "paragraph",
              "type": "text"
            },
            {
              "textContent": "---",
              "textType": "paragraph",
              "type": "text"
            },
            {
              "textContent": "## 🔥 Top 5 Headlines",
              "textType": "heading_2",
              "type": "text"
            },
            {
              "textContent": "",
              "textType": "paragraph",
              "type": "text"
            },
            {
              "textContent": "Please configure the headlines using expressions or a more complex setup",
              "textType": "paragraph",
              "type": "text"
            }
          ]
        },
        "operation": "create",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_YOUR_NOTION_PARENT_PAGE_ID"
        },
        "resource": "page",
        "simple": false,
        "title": "={{$json.title}}"
      },
      "position": [
        1120,
        300
      ],
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2
    }
  ],
  "connections": {
    "BBC News RSS Feed": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract Top 5 Headlines",
            "type": "main"
          }
        ]
      ]
    },
    "Cron Trigger - Every 6 Hours": {
      "main": [
        [
          {
            "index": 0,
            "node": "BBC News RSS Feed",
            "type": "main"
          }
        ]
      ]
    },
    "Extract Top 5 Headlines": {
      "main": [
        [
          {
            "index": 0,
            "node": "Generate Markdown Digest",
            "type": "main"
          }
        ]
      ]
    },
    "Generate Markdown Digest": {
      "main": [
        [
          {
            "index": 0,
            "node": "Save to Notion Page",
            "type": "main"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "af4900fd-37d5-4d94-8f2c-fc1a5f069f68",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-17T04:31:44.389Z",
      "createdAt": "2025-09-17T04:31:44.389Z",
      "role": "workflow:owner",
      "workflowId": "rnuYLkKLLBqk1Smb",
      "projectId": "bnvMSIIUgNfVjAJN"
    }
  ],
  "activeVersion": null,
  "tags": []
}