workflows/PDF_Exam_Question_Processor.json
{
  "updatedAt": "2026-01-03T20:15:11.904Z",
  "createdAt": "2026-01-02T20:12:17.344Z",
  "id": "jDJwdh2Z7ClpiVLB",
  "name": "PDF Exam Question Processor",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pdf-upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "585dde5a-e133-4910-9e89-ba21f1e02456",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        9824,
        3232
      ],
      "webhookId": "5c156963-824a-46ad-b274-5d6661a77d71"
    },
    {
      "parameters": {},
      "id": "52b4924f-c3fe-40ed-9b16-c56443446111",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        9824,
        3440
      ]
    },
    {
      "parameters": {
        "path": "pdf-form",
        "formTitle": "PDF Question Processor",
        "formDescription": "Provide a PDF URL to extract exam questions",
        "formFields": {
          "values": [
            {
              "fieldLabel": "PDF URL",
              "placeholder": "https://example.com/exam.pdf",
              "requiredField": true
            },
            {
              "fieldLabel": "Exam",
              "placeholder": "jee-main"
            },
            {
              "fieldLabel": "Year",
              "placeholder": "2024"
            },
            {
              "fieldLabel": "Subject",
              "placeholder": "physics"
            },
            {
              "fieldLabel": "Chapter",
              "placeholder": "general"
            }
          ]
        },
        "options": {}
      },
      "id": "172a19a0-df3a-47da-8446-fc4f4e1c94ed",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        9824,
        3632
      ],
      "webhookId": "pdf-form"
    },
    {
      "parameters": {
        "url": "={{ $json['PDF URL'] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "0c6e93c7-5cf7-4c81-b6b5-172294196e3b",
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        10096,
        3632
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pdf-processor-865153977800.europe-west1.run.app/process",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "exam",
              "value": "={{ $('Form Trigger').first().json['Exam'] || 'jee-main' }}"
            },
            {
              "name": "year",
              "value": "={{ $('Form Trigger').first().json['Year'] || '2024' }}"
            },
            {
              "name": "subject",
              "value": "={{ $('Form Trigger').first().json['Subject'] || 'physics' }}"
            },
            {
              "name": "chapter",
              "value": "={{ $('Form Trigger').first().json['Chapter'] || 'general' }}"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "a17ead60-39a3-4fce-bdd7-98b637575eda",
      "name": "Process PDF (Form)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        10336,
        3632
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pdf-processor-865153977800.europe-west1.run.app/process",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "a0a5d449-d599-4ad4-9a78-c4cb0162afa1",
      "name": "Process PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        10096,
        3344
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nif (!response.questions || response.questions.length === 0) {\n  throw new Error('No questions returned from processor');\n}\n\nconst items = response.questions.map(q => ({\n  json: {\n    ...q,\n    s3KeyPrefix: response.s3KeyPrefix,\n    sourcePdf: response.sourcePdf,\n    exam: response.exam,\n    year: response.year,\n    subject: response.subject,\n    chapter: response.chapter,\n    totalQuestions: response.totalQuestions\n  }\n}));\n\nreturn items;"
      },
      "id": "df035eb0-c848-4267-8038-01f3d0f21c7b",
      "name": "Prepare Upload Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10576,
        3440
      ]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "eb9c5f9e-8926-41e8-a307-f9b6d9c34adf",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        10816,
        3440
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst binaryData = Buffer.from(item.imageBase64, 'base64');\n\nreturn [{\n  json: {\n    sequenceIndex: item.sequenceIndex,\n    page: item.page,\n    ocrFallback: item.ocrFallback,\n    detectedNumber: item.detectedNumber,\n    s3Key: `${item.s3KeyPrefix}/${item.suggestedFilename}`,\n    s3KeyPrefix: item.s3KeyPrefix,\n    sourcePdf: item.sourcePdf,\n    exam: item.exam,\n    year: item.year,\n    subject: item.subject,\n    chapter: item.chapter,\n    totalQuestions: item.totalQuestions\n  },\n  binary: {\n    data: await this.helpers.prepareBinaryData(binaryData, item.suggestedFilename, 'image/webp')\n  }\n}];"
      },
      "id": "708703f4-5a83-4aa9-996a-06ced6919723",
      "name": "Convert Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11056,
        3264
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "=questions",
        "fileName": "={{ $json.s3Key }}",
        "additionalFields": {}
      },
      "id": "0e768ba2-fe53-4e07-8e43-70fd2884db64",
      "name": "Upload to S3",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        11296,
        3264
      ],
      "credentials": {
        "s3": {
          "id": "qPRJo0yK63YYqCLJ",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst publicDomain = $env.S3_PUBLIC_DOMAIN || '';\nconst bucketName = $env.S3_BUCKET_NAME || 'exam-questions';\n\nlet imageUrl;\nif (publicDomain) {\n  imageUrl = `${publicDomain}/${item.s3Key}`;\n} else {\n  imageUrl = `https://${bucketName}.s3.amazonaws.com/${item.s3Key}`;\n}\n\nreturn [{\n  json: {\n    sequenceIndex: item.sequenceIndex,\n    page: item.page,\n    imageUrl: imageUrl,\n    ocrFallback: item.ocrFallback,\n    detectedNumber: item.detectedNumber,\n    sourcePdf: item.sourcePdf,\n    exam: item.exam,\n    year: item.year,\n    subject: item.subject,\n    chapter: item.chapter,\n    totalQuestions: item.totalQuestions\n  }\n}];"
      },
      "id": "91050875-5844-43b4-94cd-943a4a635113",
      "name": "Build URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11568,
        3264
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst questions = items\n  .map(item => item.json)\n  .sort((a, b) => a.sequenceIndex - b.sequenceIndex);\n\nconst firstItem = questions[0];\n\nreturn [{\n  json: {\n    sourcePdf: firstItem.sourcePdf,\n    exam: firstItem.exam,\n    year: firstItem.year,\n    subject: firstItem.subject,\n    chapter: firstItem.chapter,\n    totalQuestions: questions.length,\n    processedAt: new Date().toISOString(),\n    questions: questions.map(q => ({\n      sequenceIndex: q.sequenceIndex,\n      page: q.page,\n      imageUrl: q.imageUrl,\n      ocrFallback: q.ocrFallback,\n      detectedNumber: q.detectedNumber\n    }))\n  }\n}];"
      },
      "id": "a551079f-c1ef-461e-8d01-ca405faf2649",
      "name": "Assemble Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12016,
        3456
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Process PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Process PDF (Form)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process PDF": {
      "main": [
        [
          {
            "node": "Prepare Upload Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process PDF (Form)": {
      "main": [
        [
          {
            "node": "Prepare Upload Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upload Items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Convert Base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assemble Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Base64": {
      "main": [
        [
          {
            "node": "Upload to S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to S3": {
      "main": [
        [
          {
            "node": "Build URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Output": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "54cd0d48-05cf-4082-ba1a-a9c94b998284",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-02T20:12:17.639Z",
      "createdAt": "2026-01-02T20:12:17.639Z",
      "role": "workflow:owner",
      "workflowId": "jDJwdh2Z7ClpiVLB",
      "projectId": "bnvMSIIUgNfVjAJN"
    }
  ],
  "activeVersion": null,
  "tags": []
}