workflows/Simple_Hello_World_API.json
{
  "updatedAt": "2025-09-19T14:54:05.000Z",
  "createdAt": "2025-09-17T21:41:45.684Z",
  "id": "1ZGDD0Omjme0gLpf",
  "name": "Simple Hello World API",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "hello-world",
        "responseData": "allEntries",
        "responseMode": "responseNode"
      },
      "position": [
        100,
        300
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2
    },
    {
      "id": "code-1",
      "name": "Process Data",
      "parameters": {
        "jsCode": "// Get the input data from the webhook\nconst webhookData = $input.all();\nconst inputData = webhookData[0]?.json || {};\n\n// Process the data\nconst result = {\n  message: 'Hello World!',\n  timestamp: new Date().toISOString(),\n  receivedData: inputData,\n  processedBy: 'n8n workflow'\n};\n\n// Return the processed data\nreturn [{ json: result }];",
        "mode": "runOnceForAllItems"
      },
      "position": [
        300,
        300
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "response-1",
      "name": "HTTP Response",
      "parameters": {
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "responseHeaders": {
          "Content-Type": "application/json"
        }
      },
      "position": [
        500,
        300
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    }
  ],
  "connections": {
    "Process Data": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Response",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Process Data",
            "type": "main"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "705e97ab-271f-480f-bf1a-082d2e46fd79",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-17T21:41:45.847Z",
      "createdAt": "2025-09-17T21:41:45.847Z",
      "role": "workflow:owner",
      "workflowId": "1ZGDD0Omjme0gLpf",
      "projectId": "bnvMSIIUgNfVjAJN"
    }
  ],
  "activeVersion": null,
  "tags": []
}