workflows/Transcription.json
{
  "updatedAt": "2025-11-15T09:11:54.000Z",
  "createdAt": "2025-11-14T19:28:03.536Z",
  "id": "6Xc0iVUUnEutpnpq",
  "name": "Transcription",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "abf12a7aa2d945a0b0d3ed251062d7df"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "audio_url",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        -16
      ],
      "id": "923645c9-b9b1-401f-acd0-185141862e16",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "abf12a7aa2d945a0b0d3ed251062d7df"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -16
      ],
      "id": "b8608898-5268-4935-9b2d-9f51002de0f9",
      "name": "HTTP Request3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        96,
        -16
      ],
      "id": "188bd5bd-63b1-4fc4-854b-6aa3b0d2d7fe",
      "name": "Wait1",
      "webhookId": "79c171e5-cafd-4cc6-9496-13bfcfab58f4"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -384,
        -16
      ],
      "id": "e8365492-eacf-4095-99b6-51bde10d2123",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "https://vllxucytucjyflsenjmz.supabase.co/storage/v1/object/public/assets/285_audio.mp3"
        }
      }
    ]
  },
  "versionId": "0752ddec-7400-47e0-a9fc-d38bdb43a05e",
  "activeVersionId": "0752ddec-7400-47e0-a9fc-d38bdb43a05e",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-14T19:28:03.661Z",
      "createdAt": "2025-11-14T19:28:03.661Z",
      "role": "workflow:owner",
      "workflowId": "6Xc0iVUUnEutpnpq",
      "projectId": "bnvMSIIUgNfVjAJN"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-28T15:26:32.272Z",
    "createdAt": "2025-12-28T15:26:32.272Z",
    "versionId": "0752ddec-7400-47e0-a9fc-d38bdb43a05e",
    "workflowId": "6Xc0iVUUnEutpnpq",
    "nodes": [
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.assemblyai.com/v2/transcript",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "abf12a7aa2d945a0b0d3ed251062d7df"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "audio_url",
                "value": "={{ $json.query }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -112,
          -16
        ],
        "id": "923645c9-b9b1-401f-acd0-185141862e16",
        "name": "HTTP Request2"
      },
      {
        "parameters": {
          "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "abf12a7aa2d945a0b0d3ed251062d7df"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          320,
          -16
        ],
        "id": "b8608898-5268-4935-9b2d-9f51002de0f9",
        "name": "HTTP Request3"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          96,
          -16
        ],
        "id": "188bd5bd-63b1-4fc4-854b-6aa3b0d2d7fe",
        "name": "Wait1",
        "webhookId": "79c171e5-cafd-4cc6-9496-13bfcfab58f4"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -384,
          -16
        ],
        "id": "e8365492-eacf-4095-99b6-51bde10d2123",
        "name": "When Executed by Another Workflow"
      }
    ],
    "connections": {
      "HTTP Request2": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "HTTP Request3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "HTTP Request2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}