workflows/Variants_copy.json
{
  "updatedAt": "2025-12-30T09:03:30.405Z",
  "createdAt": "2025-12-30T08:47:22.636Z",
  "id": "7eNS1MnWLn9hEZ0G",
  "name": "Variants copy",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -448,
        -192
      ],
      "id": "0b6a644f-8137-4a51-bcc3-3e8253cc1fba",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "38017c55",
              "leftValue": "={{ $json.niche }}",
              "rightValue": "entrepreneur",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        -192
      ],
      "id": "47dbe0f9-ccb7-421b-8814-e3742cec7bd5",
      "name": "Entrepreneur"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c3e78911",
              "leftValue": "={{ $json.niche }}",
              "rightValue": "fitness",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32,
        16
      ],
      "id": "161c947e-a66a-4c24-85ca-89f3bff2fcce",
      "name": "Fitness"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7a3a9a65",
              "leftValue": "={{ $json.niche }}",
              "rightValue": "general motivation",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        176
      ],
      "id": "96a0d71d-1f88-4178-a4fa-6304c914cc0c",
      "name": "General Motivation"
    },
    {
      "parameters": {
        "jsCode": "// STEP 1: Extract base data\nconst baseJson = $('When Executed by Another Workflow').first().json;\nconst req = baseJson.request_json;\nconst usernames = $input.first().json.usernames;\n\nconst endpoint = baseJson.endpoint;\nconst isStyleEndpoint = endpoint.includes('style');\nconst isVid1Single = endpoint === '/create-video-vid-1';\nconst isMultiClip = endpoint.includes('vid-1.2') || endpoint.includes('vid-1.3') || endpoint.includes('vid-1.4') || endpoint.includes('vid-1.5');\n\nlet mediaType = 'video';\nif (isStyleEndpoint) mediaType = 'image';\n\nlet numClips = 1;\nif (isMultiClip && req.clips?.length > 0) numClips = req.clips.length;\n\nconst mainDescription = baseJson.description || 'motivational content';\nconst originalCaptions = req.captions?.map(c => c.text) || [];\nconst clipDescriptions = req.clips?.map(c => c.description) || [mainDescription];\n\nreturn [{\n  json: {\n    forAI: {\n      description: mainDescription,\n      numVariants: usernames.length,\n      numClips: numClips,\n      transcriptionRequired: baseJson.transcription || false,\n      audioUrl: req.audioUrl,\n      originalCaptions: originalCaptions,\n      originalMainCaption: baseJson.caption,\n      originalClipDescriptions: clipDescriptions,\n      mediaType: mediaType\n    },\n    baseStructure: {\n      endpoint, audioUrl: req.audioUrl, instagramUrl: req.instagramUrl,\n      original: req.original, quote: req.quote, author: req.author,\n      duration: req.duration, overlay: req.overlay,\n      description: baseJson.description, niche: baseJson.niche,\n      transcription: baseJson.transcription, caption: baseJson.caption,\n      imageUrl: req.imageUrl, videoUrl: req.videoUrl,\n      clips: req.clips?.map(c => ({start: c.start, duration: c.duration, volume: c.volume, begin: c.begin})) || [],\n      captions: req.captions?.map(c => ({text: c.text, start: c.start, duration: c.duration})) || []\n    },\n    endpointType: { isStyleEndpoint, isVid1Single, isMultiClip, mediaType },\n    usernames: usernames\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -160
      ],
      "id": "40cd052a-9ccf-464c-b56a-5a1b1f8fdbaa",
      "name": "Extract Base Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate search terms and text rewrites.\n\nINPUT:\n- Description: {{ $json.forAI.description }}\n- Variants: {{ $json.forAI.numVariants }}\n- Clips: {{ $json.forAI.numClips }}\n- Media: {{ $json.forAI.mediaType }}\n- Transcription: {{ $json.forAI.transcriptionRequired }}\n- AudioUrl: {{ $json.forAI.audioUrl }}\n- Captions: {{ JSON.stringify($json.forAI.originalCaptions) }}\n- MainCaption: {{ $json.forAI.originalMainCaption }}\n- ClipDescs: {{ JSON.stringify($json.forAI.originalClipDescriptions) }}\n\nTASKS:\n1. Generate 2-3 Pexels search terms from description\n2. IF transcription=true AND audioUrl exists:\n   - CALL the Transcription tool with the audioUrl to get word-level timestamps\n   - Use the transcript data to correct caption text and timing\n   - Match caption boundaries to actual spoken words for perfect sync\n3. Generate rewrites for EACH variant\n\nOUTPUT (JSON only):\n{\n  \"searchTerms\": [\"term1\", \"term2\"],\n  \"timingAdjustments\": null,\n  \"variants\": [\n    {\n      \"captionAlts\": [\"rewrite1\"],\n      \"description\": \"rewritten desc\",\n      \"mainCaption\": \"rewritten caption #hashtags\",\n      \"clipDescriptions\": [\"clip1\", \"clip2\"]\n    }\n  ]\n}\n\nRULES:\n- searchTerms: key themes (travel, success, fitness)\n- Each variant: DIFFERENT wording, SAME meaning\n- clipDescriptions: exactly {{ $json.forAI.numClips }} items\n- JSON only, no markdown",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1472,
        -160
      ],
      "id": "d764815c-e75c-4e46-ae2c-7106aa51fe7f",
      "name": "AI Agent 1: Rewrites",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1456,
        192
      ],
      "id": "116b9189-6e6d-452c-8590-f263215e870a",
      "name": "Gemini 1",
      "credentials": {
        "googlePalmApi": {
          "id": "ORUwPwaZTuQsBcdf",
          "name": "Gemini Free"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1280,
        192
      ],
      "id": "81ec2853-9b0d-45d7-ac87-1ec122a07318",
      "name": "Groq 1",
      "credentials": {
        "groqApi": {
          "id": "4ZEZ83UlO38Ss7tT",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6Xc0iVUUnEutpnpq",
          "mode": "list",
          "cachedResultName": "Transcription"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": []
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1600,
        192
      ],
      "id": "45058d9d-b582-4670-8984-c41f1916fc94",
      "name": "Transcription"
    },
    {
      "parameters": {
        "jsCode": "// Parse AI output\nconst raw = $json.output;\nconst cleaned = raw.replace(/^```json\\s*/i, '').replace(/```$/i, '').trim();\nlet aiOutput;\ntry { aiOutput = JSON.parse(cleaned); } catch (e) { throw new Error('Parse error: ' + e.message); }\n\nconst extractData = $('Extract Base Data').first().json;\nreturn [{\n  json: {\n    searchTerms: aiOutput.searchTerms || ['motivational'],\n    mediaType: extractData.forAI.mediaType,\n    numNeeded: Math.max(20, extractData.forAI.numClips * extractData.forAI.numVariants + 10),\n    aiOutput: aiOutput,\n    extractData: extractData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -160
      ],
      "id": "d4377953-7972-486c-aa1b-0bae46a98d4b",
      "name": "Parse AI 1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "media-check",
              "leftValue": "={{ $json.mediaType }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2048,
        -160
      ],
      "id": "22ac8177-9b28-4dd1-928a-a43239071bbf",
      "name": "Image or Video?"
    },
    {
      "parameters": {
        "url": "https://api.pexels.com/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.searchTerms[0] }}"
            },
            {
              "name": "per_page",
              "value": "={{ $json.numNeeded }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "BPTelSvr7cxNsU51XT1G9QthMZA3rlOvvvQ24XErrFxCHxT5vgJej7LD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2288,
        -320
      ],
      "id": "69ba757e-89f8-42d4-a7d1-8438e486ed24",
      "name": "Fetch Pexels Images"
    },
    {
      "parameters": {
        "url": "https://api.pexels.com/videos/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.searchTerms[0] }}"
            },
            {
              "name": "per_page",
              "value": "={{ $json.numNeeded }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "BPTelSvr7cxNsU51XT1G9QthMZA3rlOvvvQ24XErrFxCHxT5vgJej7LD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2288,
        -16
      ],
      "id": "e55fcff7-a0df-405e-b158-bacf5972a626",
      "name": "Fetch Pexels Videos"
    },
    {
      "parameters": {
        "jsCode": "// Extract image URLs with metadata for AI selection\nconst photos = $json.photos || [];\nconst mediaOptions = photos.map((p, i) => ({\n  id: i,\n  url: p.src?.large2x || p.src?.large || p.src?.original,\n  alt: p.alt || 'Image ' + i\n}));\nconst parseData = $('Parse AI 1').first().json;\nreturn [{ json: { mediaOptions, mediaType: 'image', ...parseData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        -320
      ],
      "id": "bc16b343-f6b6-454c-91e6-61a3f0678e84",
      "name": "Extract Image Options"
    },
    {
      "parameters": {
        "jsCode": "// Extract video URLs with metadata for AI selection\nconst videos = $json.videos || [];\nconst mediaOptions = videos.map((v, i) => {\n  const files = v.video_files || [];\n  const hd = files.find(f => f.quality === 'hd') || files[0];\n  return {\n    id: i,\n    url: hd?.link,\n    alt: v.url?.split('/').pop() || 'Video ' + i\n  };\n}).filter(m => m.url);\nconst parseData = $('Parse AI 1').first().json;\nreturn [{ json: { mediaOptions, mediaType: 'video', ...parseData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        -16
      ],
      "id": "1694f06f-192b-4c54-bb8a-fecc302eaa07",
      "name": "Extract Video Options"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Select best media URLs for each variant.\n\nINPUT:\n- Variants: {{ $json.extractData.forAI.numVariants }}\n- Clips per variant: {{ $json.extractData.forAI.numClips }}\n- Clip descriptions: {{ JSON.stringify($json.aiOutput.variants[0]?.clipDescriptions || [$json.extractData.forAI.description]) }}\n- Available media:\n{{ $json.mediaOptions.slice(0, 15).map(m => `[${m.id}] ${m.alt}`).join('\\n') }}\n\nTASK:\nFor each variant, select the best media IDs that match the clip descriptions.\nUse DIFFERENT IDs for each variant when possible.\n\nOUTPUT (JSON only):\n{\n  \"selections\": [\n    {\"variantIndex\": 0, \"mediaIds\": [3, 7, 2]},\n    {\"variantIndex\": 1, \"mediaIds\": [5, 1, 8]}\n  ]\n}\n\nRULES:\n- mediaIds array must have exactly {{ $json.extractData.forAI.numClips }} items\n- Pick IDs that best match clip descriptions\n- Avoid duplicates across variants if possible\n- JSON only, no markdown",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2848,
        -160
      ],
      "id": "4e07c911-149f-45bd-8861-d9723c98f677",
      "name": "AI Agent 2: URL Selector",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2848,
        144
      ],
      "id": "ef1ef049-a735-494b-9b2c-3388cb491f8f",
      "name": "Gemini 2",
      "credentials": {
        "googlePalmApi": {
          "id": "ORUwPwaZTuQsBcdf",
          "name": "Gemini Free"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2688,
        144
      ],
      "id": "ee216423-4034-4718-9313-6d650e00b9c4",
      "name": "Groq 2",
      "credentials": {
        "groqApi": {
          "id": "4ZEZ83UlO38Ss7tT",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI selection and assemble final variants\nconst raw = $json.output;\nconst cleaned = raw.replace(/^```json\\s*/i, '').replace(/```$/i, '').trim();\nlet selectionOutput;\ntry { selectionOutput = JSON.parse(cleaned); } catch (e) { selectionOutput = { selections: [] }; }\n\n// Get data from Parse AI 1 (always executed, before the branch)\nconst parseData = $('Parse AI 1').first().json;\nconst { aiOutput, extractData } = parseData;\nconst { baseStructure, endpointType, usernames } = extractData;\nconst numClips = extractData.forAI.numClips;\n\n// Get mediaOptions - try both Extract nodes (only one will have run)\nlet mediaOptions = [];\ntry { mediaOptions = $('Extract Image Options').first()?.json?.mediaOptions || []; } catch(e) {}\nif (mediaOptions.length === 0) {\n  try { mediaOptions = $('Extract Video Options').first()?.json?.mediaOptions || []; } catch(e) {}\n}\n\n// Helper to get URL by ID with fallback\nfunction getUrlById(id) {\n  const item = mediaOptions.find(m => m.id === id);\n  return item?.url || mediaOptions[id % mediaOptions.length]?.url || mediaOptions[0]?.url;\n}\n\nconst variants = usernames.map((username, vIdx) => {\n  const variantData = aiOutput.variants?.[vIdx] || aiOutput.variants?.[0] || {};\n  const selection = selectionOutput.selections?.find(s => s.variantIndex === vIdx);\n  const mediaIds = selection?.mediaIds || Array.from({length: numClips}, (_, i) => (vIdx * numClips + i) % mediaOptions.length);\n  \n  const variant = {\n    endpoint: baseStructure.endpoint,\n    request_json: {\n      audioUrl: baseStructure.audioUrl,\n      original: baseStructure.original,\n      watermark: '@' + username.replace('@', '')\n    },\n    caption: variantData.mainCaption || baseStructure.caption,\n    description: variantData.description || baseStructure.description,\n    niche: baseStructure.niche,\n    transcription: baseStructure.transcription\n  };\n  \n  if (baseStructure.quote) variant.request_json.quote = baseStructure.quote;\n  if (baseStructure.author) variant.request_json.author = baseStructure.author;\n  if (baseStructure.duration) variant.request_json.duration = baseStructure.duration;\n  if (baseStructure.overlay !== undefined) variant.request_json.overlay = baseStructure.overlay;\n  \n  if (endpointType.isStyleEndpoint) {\n    variant.request_json.imageUrl = getUrlById(mediaIds[0]);\n    variant.request_json.imageDescription = variantData.clipDescriptions?.[0] || baseStructure.description;\n  } else if (endpointType.isVid1Single) {\n    variant.request_json.videoUrl = getUrlById(mediaIds[0]);\n    variant.request_json.videoDescription = variantData.clipDescriptions?.[0] || baseStructure.description;\n  } else if (endpointType.isMultiClip) {\n    variant.request_json.clips = baseStructure.clips.map((clipTiming, cIdx) => ({\n      ...clipTiming,\n      videoUrl: getUrlById(mediaIds[cIdx] ?? cIdx),\n      description: variantData.clipDescriptions?.[cIdx] || 'Video clip'\n    }));\n  }\n  \n  if (baseStructure.captions?.length > 0) {\n    variant.request_json.captions = baseStructure.captions.map((c, i) => ({\n      ...c,\n      alt: variantData.captionAlts?.[i]\n    }));\n  }\n  \n  if (aiOutput.timingAdjustments && variant.request_json.clips) {\n    aiOutput.timingAdjustments.forEach((adj, i) => {\n      if (variant.request_json.clips[i] && adj) {\n        if (adj.start !== undefined) variant.request_json.clips[i].start = adj.start;\n        if (adj.duration !== undefined) variant.request_json.clips[i].duration = adj.duration;\n      }\n    });\n  }\n  \n  return variant;\n});\n\nreturn variants.map(v => ({ json: v }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        -160
      ],
      "id": "9574888b-d266-49bd-a014-99ecc78ae857",
      "name": "Assemble Variants"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2c751a6d-097f-80d7-9366-e12aae2f619c",
          "mode": "list",
          "cachedResultName": "Accounts"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Niche|rich_text",
              "condition": "contains",
              "richTextValue": "=entrepreneur"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        192,
        -304
      ],
      "id": "bede475f-7674-4c92-80d3-794313bc6292",
      "name": "Get Entrepreneur",
      "credentials": {
        "notionApi": {
          "id": "NsYBQ9PiZRbvlVC9",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { usernames: $input.all().map(i => i.json.name) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -304
      ],
      "id": "4b7bccc5-a4f9-480d-b652-acd65d4c0102",
      "name": "Users 1"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2c751a6d-097f-80d7-9366-e12aae2f619c",
          "mode": "list",
          "cachedResultName": "Accounts"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Niche|rich_text",
              "condition": "contains",
              "richTextValue": "=fitness"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        288,
        -112
      ],
      "id": "9c438dd9-63a8-4805-a135-3cd10498b20c",
      "name": "Get Fitness",
      "credentials": {
        "notionApi": {
          "id": "NsYBQ9PiZRbvlVC9",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { usernames: $input.all().map(i => i.json.name) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -112
      ],
      "id": "182706d3-8a77-4205-9344-35af7dce1480",
      "name": "Users 2"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2c751a6d-097f-80d7-9366-e12aae2f619c",
          "mode": "list",
          "cachedResultName": "Accounts"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Niche|rich_text",
              "condition": "contains",
              "richTextValue": "=motivation"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        640,
        160
      ],
      "id": "35f0e06b-8f01-457c-9597-5de7325ff0ba",
      "name": "Get Motivation",
      "credentials": {
        "notionApi": {
          "id": "NsYBQ9PiZRbvlVC9",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { usernames: $input.all().map(i => i.json.name) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        160
      ],
      "id": "44b59f84-e7d2-438f-8744-4a86149cb6d6",
      "name": "Users 3"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Entrepreneur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrepreneur": {
      "main": [
        [
          {
            "node": "Get Entrepreneur",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fitness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fitness": {
      "main": [
        [
          {
            "node": "Get Fitness",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "General Motivation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General Motivation": {
      "main": [
        [
          {
            "node": "Get Motivation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Base Data": {
      "main": [
        [
          {
            "node": "AI Agent 1: Rewrites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 1: Rewrites": {
      "main": [
        [
          {
            "node": "Parse AI 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 1: Rewrites",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Groq 1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 1: Rewrites",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Transcription": {
      "ai_tool": [
        [
          {
            "node": "AI Agent 1: Rewrites",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI 1": {
      "main": [
        [
          {
            "node": "Image or Video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image or Video?": {
      "main": [
        [
          {
            "node": "Fetch Pexels Images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Pexels Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pexels Images": {
      "main": [
        [
          {
            "node": "Extract Image Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pexels Videos": {
      "main": [
        [
          {
            "node": "Extract Video Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image Options": {
      "main": [
        [
          {
            "node": "AI Agent 2: URL Selector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Video Options": {
      "main": [
        [
          {
            "node": "AI Agent 2: URL Selector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 2: URL Selector": {
      "main": [
        [
          {
            "node": "Assemble Variants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 2: URL Selector",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Groq 2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 2: URL Selector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Entrepreneur": {
      "main": [
        [
          {
            "node": "Users 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Users 1": {
      "main": [
        [
          {
            "node": "Extract Base Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Fitness": {
      "main": [
        [
          {
            "node": "Users 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Users 2": {
      "main": [
        [
          {
            "node": "Extract Base Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Motivation": {
      "main": [
        [
          {
            "node": "Users 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Users 3": {
      "main": [
        [
          {
            "node": "Extract Base Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "endpoint": "/vid-1.3",
          "request_json": {
            "audioUrl": "https://vllxucytucjyflsenjmz.supabase.co/storage/v1/object/public/assets/285_audio.mp3",
            "audioDescription": "Motivational voiceover with high-quality background music",
            "watermark": "@luxurymotivation",
            "clips": [
              {
                "videoUrl": "https://example.com/bw-suit-man.mp4",
                "description": "Black and white clip of man in suit, referencing high-status aesthetics",
                "start": 0,
                "duration": 2
              },
              {
                "videoUrl": "https://example.com/man-porsche-exterior.jpg",
                "description": "Man standing by a grey Porsche 911 GT3 RS outside a classical building",
                "start": 2,
                "duration": 2.5
              },
              {
                "videoUrl": "https://example.com/driving-details-1.mp4",
                "description": "Close-up of luxury watch on a steering wheel and car details",
                "start": 4.5,
                "duration": 3
              },
              {
                "videoUrl": "https://example.com/high-status-entry.mp4",
                "description": "Chauffeur service with black Mercedes S-Class and sports car transport",
                "start": 7.5,
                "duration": 1.5
              },
              {
                "videoUrl": "https://example.com/security-group-watch.mp4",
                "description": "Group of men/security personnel and luxury interior/watch shots",
                "start": 9,
                "duration": 3
              }
            ],
            "captions": [
              {
                "text": "And that's why they call us lucky",
                "start": 0,
                "duration": 2.5
              },
              {
                "text": "because they assume that we are gonna",
                "start": 2.5,
                "duration": 2
              },
              {
                "text": "input the same",
                "start": 4.5,
                "duration": 2.5
              },
              {
                "text": "weak and measly",
                "start": 7,
                "duration": 2
              },
              {
                "text": "levels of energy and attention that they would",
                "start": 9,
                "duration": 3
              }
            ],
            "duration": 12
          },
          "caption": "Success isn't luck; it's the energy and attention you input daily.",
          "description": "Motivational reel mixing cinematic luxury footage with a voiceover quote about effort and perception.",
          "niche": "general motivation",
          "transcription": true
        }
      }
    ]
  },
  "versionId": "10af1940-c104-4c33-bca6-7f655bc4adf0",
  "activeVersionId": "10af1940-c104-4c33-bca6-7f655bc4adf0",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-30T08:47:22.959Z",
      "createdAt": "2025-12-30T08:47:22.959Z",
      "role": "workflow:owner",
      "workflowId": "7eNS1MnWLn9hEZ0G",
      "projectId": "bnvMSIIUgNfVjAJN"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-30T09:03:34.000Z",
    "createdAt": "2025-12-30T09:03:30.479Z",
    "versionId": "10af1940-c104-4c33-bca6-7f655bc4adf0",
    "workflowId": "7eNS1MnWLn9hEZ0G",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -448,
          -192
        ],
        "id": "0b6a644f-8137-4a51-bcc3-3e8253cc1fba",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "38017c55",
                "leftValue": "={{ $json.niche }}",
                "rightValue": "entrepreneur",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -144,
          -192
        ],
        "id": "47dbe0f9-ccb7-421b-8814-e3742cec7bd5",
        "name": "Entrepreneur"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c3e78911",
                "leftValue": "={{ $json.niche }}",
                "rightValue": "fitness",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          32,
          16
        ],
        "id": "161c947e-a66a-4c24-85ca-89f3bff2fcce",
        "name": "Fitness"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7a3a9a65",
                "leftValue": "={{ $json.niche }}",
                "rightValue": "general motivation",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          304,
          176
        ],
        "id": "96a0d71d-1f88-4178-a4fa-6304c914cc0c",
        "name": "General Motivation"
      },
      {
        "parameters": {
          "jsCode": "// STEP 1: Extract base data\nconst baseJson = $('When Executed by Another Workflow').first().json;\nconst req = baseJson.request_json;\nconst usernames = $input.first().json.usernames;\n\nconst endpoint = baseJson.endpoint;\nconst isStyleEndpoint = endpoint.includes('style');\nconst isVid1Single = endpoint === '/create-video-vid-1';\nconst isMultiClip = endpoint.includes('vid-1.2') || endpoint.includes('vid-1.3') || endpoint.includes('vid-1.4') || endpoint.includes('vid-1.5');\n\nlet mediaType = 'video';\nif (isStyleEndpoint) mediaType = 'image';\n\nlet numClips = 1;\nif (isMultiClip && req.clips?.length > 0) numClips = req.clips.length;\n\nconst mainDescription = baseJson.description || 'motivational content';\nconst originalCaptions = req.captions?.map(c => c.text) || [];\nconst clipDescriptions = req.clips?.map(c => c.description) || [mainDescription];\n\nreturn [{\n  json: {\n    forAI: {\n      description: mainDescription,\n      numVariants: usernames.length,\n      numClips: numClips,\n      transcriptionRequired: baseJson.transcription || false,\n      audioUrl: req.audioUrl,\n      originalCaptions: originalCaptions,\n      originalMainCaption: baseJson.caption,\n      originalClipDescriptions: clipDescriptions,\n      mediaType: mediaType\n    },\n    baseStructure: {\n      endpoint, audioUrl: req.audioUrl, instagramUrl: req.instagramUrl,\n      original: req.original, quote: req.quote, author: req.author,\n      duration: req.duration, overlay: req.overlay,\n      description: baseJson.description, niche: baseJson.niche,\n      transcription: baseJson.transcription, caption: baseJson.caption,\n      imageUrl: req.imageUrl, videoUrl: req.videoUrl,\n      clips: req.clips?.map(c => ({start: c.start, duration: c.duration, volume: c.volume, begin: c.begin})) || [],\n      captions: req.captions?.map(c => ({text: c.text, start: c.start, duration: c.duration})) || []\n    },\n    endpointType: { isStyleEndpoint, isVid1Single, isMultiClip, mediaType },\n    usernames: usernames\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          -160
        ],
        "id": "40cd052a-9ccf-464c-b56a-5a1b1f8fdbaa",
        "name": "Extract Base Data"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Generate search terms and text rewrites.\n\nINPUT:\n- Description: {{ $json.forAI.description }}\n- Variants: {{ $json.forAI.numVariants }}\n- Clips: {{ $json.forAI.numClips }}\n- Media: {{ $json.forAI.mediaType }}\n- Transcription: {{ $json.forAI.transcriptionRequired }}\n- AudioUrl: {{ $json.forAI.audioUrl }}\n- Captions: {{ JSON.stringify($json.forAI.originalCaptions) }}\n- MainCaption: {{ $json.forAI.originalMainCaption }}\n- ClipDescs: {{ JSON.stringify($json.forAI.originalClipDescriptions) }}\n\nTASKS:\n1. Generate 2-3 Pexels search terms from description\n2. IF transcription=true AND audioUrl exists:\n   - CALL the Transcription tool with the audioUrl to get word-level timestamps\n   - Use the transcript data to correct caption text and timing\n   - Match caption boundaries to actual spoken words for perfect sync\n3. Generate rewrites for EACH variant\n\nOUTPUT (JSON only):\n{\n  \"searchTerms\": [\"term1\", \"term2\"],\n  \"timingAdjustments\": null,\n  \"variants\": [\n    {\n      \"captionAlts\": [\"rewrite1\"],\n      \"description\": \"rewritten desc\",\n      \"mainCaption\": \"rewritten caption #hashtags\",\n      \"clipDescriptions\": [\"clip1\", \"clip2\"]\n    }\n  ]\n}\n\nRULES:\n- searchTerms: key themes (travel, success, fitness)\n- Each variant: DIFFERENT wording, SAME meaning\n- clipDescriptions: exactly {{ $json.forAI.numClips }} items\n- JSON only, no markdown",
          "needsFallback": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          1472,
          -160
        ],
        "id": "d764815c-e75c-4e46-ae2c-7106aa51fe7f",
        "name": "AI Agent 1: Rewrites",
        "retryOnFail": true
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1456,
          192
        ],
        "id": "116b9189-6e6d-452c-8590-f263215e870a",
        "name": "Gemini 1",
        "credentials": {
          "googlePalmApi": {
            "id": "ORUwPwaZTuQsBcdf",
            "name": "Gemini Free"
          }
        }
      },
      {
        "parameters": {
          "model": "openai/gpt-oss-20b",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          1280,
          192
        ],
        "id": "81ec2853-9b0d-45d7-ac87-1ec122a07318",
        "name": "Groq 1",
        "credentials": {
          "groqApi": {
            "id": "4ZEZ83UlO38Ss7tT",
            "name": "Groq account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "6Xc0iVUUnEutpnpq",
            "mode": "list",
            "cachedResultName": "Transcription"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": []
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1600,
          192
        ],
        "id": "45058d9d-b582-4670-8984-c41f1916fc94",
        "name": "Transcription"
      },
      {
        "parameters": {
          "jsCode": "// Parse AI output\nconst raw = $json.output;\nconst cleaned = raw.replace(/^```json\\s*/i, '').replace(/```$/i, '').trim();\nlet aiOutput;\ntry { aiOutput = JSON.parse(cleaned); } catch (e) { throw new Error('Parse error: ' + e.message); }\n\nconst extractData = $('Extract Base Data').first().json;\nreturn [{\n  json: {\n    searchTerms: aiOutput.searchTerms || ['motivational'],\n    mediaType: extractData.forAI.mediaType,\n    numNeeded: Math.max(20, extractData.forAI.numClips * extractData.forAI.numVariants + 10),\n    aiOutput: aiOutput,\n    extractData: extractData\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1840,
          -160
        ],
        "id": "d4377953-7972-486c-aa1b-0bae46a98d4b",
        "name": "Parse AI 1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "media-check",
                "leftValue": "={{ $json.mediaType }}",
                "rightValue": "image",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2048,
          -160
        ],
        "id": "22ac8177-9b28-4dd1-928a-a43239071bbf",
        "name": "Image or Video?"
      },
      {
        "parameters": {
          "url": "https://api.pexels.com/v1/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "query",
                "value": "={{ $json.searchTerms[0] }}"
              },
              {
                "name": "per_page",
                "value": "={{ $json.numNeeded }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "BPTelSvr7cxNsU51XT1G9QthMZA3rlOvvvQ24XErrFxCHxT5vgJej7LD"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2288,
          -320
        ],
        "id": "69ba757e-89f8-42d4-a7d1-8438e486ed24",
        "name": "Fetch Pexels Images"
      },
      {
        "parameters": {
          "url": "https://api.pexels.com/videos/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "query",
                "value": "={{ $json.searchTerms[0] }}"
              },
              {
                "name": "per_page",
                "value": "={{ $json.numNeeded }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "BPTelSvr7cxNsU51XT1G9QthMZA3rlOvvvQ24XErrFxCHxT5vgJej7LD"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2288,
          -16
        ],
        "id": "e55fcff7-a0df-405e-b158-bacf5972a626",
        "name": "Fetch Pexels Videos"
      },
      {
        "parameters": {
          "jsCode": "// Extract image URLs with metadata for AI selection\nconst photos = $json.photos || [];\nconst mediaOptions = photos.map((p, i) => ({\n  id: i,\n  url: p.src?.large2x || p.src?.large || p.src?.original,\n  alt: p.alt || 'Image ' + i\n}));\nconst parseData = $('Parse AI 1').first().json;\nreturn [{ json: { mediaOptions, mediaType: 'image', ...parseData } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2544,
          -320
        ],
        "id": "bc16b343-f6b6-454c-91e6-61a3f0678e84",
        "name": "Extract Image Options"
      },
      {
        "parameters": {
          "jsCode": "// Extract video URLs with metadata for AI selection\nconst videos = $json.videos || [];\nconst mediaOptions = videos.map((v, i) => {\n  const files = v.video_files || [];\n  const hd = files.find(f => f.quality === 'hd') || files[0];\n  return {\n    id: i,\n    url: hd?.link,\n    alt: v.url?.split('/').pop() || 'Video ' + i\n  };\n}).filter(m => m.url);\nconst parseData = $('Parse AI 1').first().json;\nreturn [{ json: { mediaOptions, mediaType: 'video', ...parseData } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2544,
          -16
        ],
        "id": "1694f06f-192b-4c54-bb8a-fecc302eaa07",
        "name": "Extract Video Options"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Select best media URLs for each variant.\n\nINPUT:\n- Variants: {{ $json.extractData.forAI.numVariants }}\n- Clips per variant: {{ $json.extractData.forAI.numClips }}\n- Clip descriptions: {{ JSON.stringify($json.aiOutput.variants[0]?.clipDescriptions || [$json.extractData.forAI.description]) }}\n- Available media:\n{{ $json.mediaOptions.slice(0, 15).map(m => `[${m.id}] ${m.alt}`).join('\\n') }}\n\nTASK:\nFor each variant, select the best media IDs that match the clip descriptions.\nUse DIFFERENT IDs for each variant when possible.\n\nOUTPUT (JSON only):\n{\n  \"selections\": [\n    {\"variantIndex\": 0, \"mediaIds\": [3, 7, 2]},\n    {\"variantIndex\": 1, \"mediaIds\": [5, 1, 8]}\n  ]\n}\n\nRULES:\n- mediaIds array must have exactly {{ $json.extractData.forAI.numClips }} items\n- Pick IDs that best match clip descriptions\n- Avoid duplicates across variants if possible\n- JSON only, no markdown",
          "needsFallback": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          2848,
          -160
        ],
        "id": "4e07c911-149f-45bd-8861-d9723c98f677",
        "name": "AI Agent 2: URL Selector",
        "retryOnFail": true
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          2848,
          144
        ],
        "id": "ef1ef049-a735-494b-9b2c-3388cb491f8f",
        "name": "Gemini 2",
        "credentials": {
          "googlePalmApi": {
            "id": "ORUwPwaZTuQsBcdf",
            "name": "Gemini Free"
          }
        }
      },
      {
        "parameters": {
          "model": "openai/gpt-oss-20b",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          2688,
          144
        ],
        "id": "ee216423-4034-4718-9313-6d650e00b9c4",
        "name": "Groq 2",
        "credentials": {
          "groqApi": {
            "id": "4ZEZ83UlO38Ss7tT",
            "name": "Groq account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parse AI selection and assemble final variants\nconst raw = $json.output;\nconst cleaned = raw.replace(/^```json\\s*/i, '').replace(/```$/i, '').trim();\nlet selectionOutput;\ntry { selectionOutput = JSON.parse(cleaned); } catch (e) { selectionOutput = { selections: [] }; }\n\n// Get data from Parse AI 1 (always executed, before the branch)\nconst parseData = $('Parse AI 1').first().json;\nconst { aiOutput, extractData } = parseData;\nconst { baseStructure, endpointType, usernames } = extractData;\nconst numClips = extractData.forAI.numClips;\n\n// Get mediaOptions - try both Extract nodes (only one will have run)\nlet mediaOptions = [];\ntry { mediaOptions = $('Extract Image Options').first()?.json?.mediaOptions || []; } catch(e) {}\nif (mediaOptions.length === 0) {\n  try { mediaOptions = $('Extract Video Options').first()?.json?.mediaOptions || []; } catch(e) {}\n}\n\n// Helper to get URL by ID with fallback\nfunction getUrlById(id) {\n  const item = mediaOptions.find(m => m.id === id);\n  return item?.url || mediaOptions[id % mediaOptions.length]?.url || mediaOptions[0]?.url;\n}\n\nconst variants = usernames.map((username, vIdx) => {\n  const variantData = aiOutput.variants?.[vIdx] || aiOutput.variants?.[0] || {};\n  const selection = selectionOutput.selections?.find(s => s.variantIndex === vIdx);\n  const mediaIds = selection?.mediaIds || Array.from({length: numClips}, (_, i) => (vIdx * numClips + i) % mediaOptions.length);\n  \n  const variant = {\n    endpoint: baseStructure.endpoint,\n    request_json: {\n      audioUrl: baseStructure.audioUrl,\n      original: baseStructure.original,\n      watermark: '@' + username.replace('@', '')\n    },\n    caption: variantData.mainCaption || baseStructure.caption,\n    description: variantData.description || baseStructure.description,\n    niche: baseStructure.niche,\n    transcription: baseStructure.transcription\n  };\n  \n  if (baseStructure.quote) variant.request_json.quote = baseStructure.quote;\n  if (baseStructure.author) variant.request_json.author = baseStructure.author;\n  if (baseStructure.duration) variant.request_json.duration = baseStructure.duration;\n  if (baseStructure.overlay !== undefined) variant.request_json.overlay = baseStructure.overlay;\n  \n  if (endpointType.isStyleEndpoint) {\n    variant.request_json.imageUrl = getUrlById(mediaIds[0]);\n    variant.request_json.imageDescription = variantData.clipDescriptions?.[0] || baseStructure.description;\n  } else if (endpointType.isVid1Single) {\n    variant.request_json.videoUrl = getUrlById(mediaIds[0]);\n    variant.request_json.videoDescription = variantData.clipDescriptions?.[0] || baseStructure.description;\n  } else if (endpointType.isMultiClip) {\n    variant.request_json.clips = baseStructure.clips.map((clipTiming, cIdx) => ({\n      ...clipTiming,\n      videoUrl: getUrlById(mediaIds[cIdx] ?? cIdx),\n      description: variantData.clipDescriptions?.[cIdx] || 'Video clip'\n    }));\n  }\n  \n  if (baseStructure.captions?.length > 0) {\n    variant.request_json.captions = baseStructure.captions.map((c, i) => ({\n      ...c,\n      alt: variantData.captionAlts?.[i]\n    }));\n  }\n  \n  if (aiOutput.timingAdjustments && variant.request_json.clips) {\n    aiOutput.timingAdjustments.forEach((adj, i) => {\n      if (variant.request_json.clips[i] && adj) {\n        if (adj.start !== undefined) variant.request_json.clips[i].start = adj.start;\n        if (adj.duration !== undefined) variant.request_json.clips[i].duration = adj.duration;\n      }\n    });\n  }\n  \n  return variant;\n});\n\nreturn variants.map(v => ({ json: v }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3200,
          -160
        ],
        "id": "9574888b-d266-49bd-a014-99ecc78ae857",
        "name": "Assemble Variants"
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "2c751a6d-097f-80d7-9366-e12aae2f619c",
            "mode": "list",
            "cachedResultName": "Accounts"
          },
          "filterType": "manual",
          "filters": {
            "conditions": [
              {
                "key": "Niche|rich_text",
                "condition": "contains",
                "richTextValue": "=entrepreneur"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          192,
          -304
        ],
        "id": "bede475f-7674-4c92-80d3-794313bc6292",
        "name": "Get Entrepreneur",
        "credentials": {
          "notionApi": {
            "id": "NsYBQ9PiZRbvlVC9",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { usernames: $input.all().map(i => i.json.name) } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          -304
        ],
        "id": "4b7bccc5-a4f9-480d-b652-acd65d4c0102",
        "name": "Users 1"
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "2c751a6d-097f-80d7-9366-e12aae2f619c",
            "mode": "list",
            "cachedResultName": "Accounts"
          },
          "filterType": "manual",
          "filters": {
            "conditions": [
              {
                "key": "Niche|rich_text",
                "condition": "contains",
                "richTextValue": "=fitness"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          288,
          -112
        ],
        "id": "9c438dd9-63a8-4805-a135-3cd10498b20c",
        "name": "Get Fitness",
        "credentials": {
          "notionApi": {
            "id": "NsYBQ9PiZRbvlVC9",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { usernames: $input.all().map(i => i.json.name) } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          544,
          -112
        ],
        "id": "182706d3-8a77-4205-9344-35af7dce1480",
        "name": "Users 2"
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "2c751a6d-097f-80d7-9366-e12aae2f619c",
            "mode": "list",
            "cachedResultName": "Accounts"
          },
          "filterType": "manual",
          "filters": {
            "conditions": [
              {
                "key": "Niche|rich_text",
                "condition": "contains",
                "richTextValue": "=motivation"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          640,
          160
        ],
        "id": "35f0e06b-8f01-457c-9597-5de7325ff0ba",
        "name": "Get Motivation",
        "credentials": {
          "notionApi": {
            "id": "NsYBQ9PiZRbvlVC9",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { usernames: $input.all().map(i => i.json.name) } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          912,
          160
        ],
        "id": "44b59f84-e7d2-438f-8744-4a86149cb6d6",
        "name": "Users 3"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Entrepreneur",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Entrepreneur": {
        "main": [
          [
            {
              "node": "Get Entrepreneur",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Fitness",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fitness": {
        "main": [
          [
            {
              "node": "Get Fitness",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "General Motivation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "General Motivation": {
        "main": [
          [
            {
              "node": "Get Motivation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Base Data": {
        "main": [
          [
            {
              "node": "AI Agent 1: Rewrites",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent 1: Rewrites": {
        "main": [
          [
            {
              "node": "Parse AI 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini 1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent 1: Rewrites",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "Groq 1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent 1: Rewrites",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Transcription": {
        "ai_tool": [
          [
            {
              "node": "AI Agent 1: Rewrites",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Parse AI 1": {
        "main": [
          [
            {
              "node": "Image or Video?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Image or Video?": {
        "main": [
          [
            {
              "node": "Fetch Pexels Images",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Fetch Pexels Videos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Pexels Images": {
        "main": [
          [
            {
              "node": "Extract Image Options",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Pexels Videos": {
        "main": [
          [
            {
              "node": "Extract Video Options",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Image Options": {
        "main": [
          [
            {
              "node": "AI Agent 2: URL Selector",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Video Options": {
        "main": [
          [
            {
              "node": "AI Agent 2: URL Selector",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent 2: URL Selector": {
        "main": [
          [
            {
              "node": "Assemble Variants",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini 2": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent 2: URL Selector",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "Groq 2": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent 2: URL Selector",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Get Entrepreneur": {
        "main": [
          [
            {
              "node": "Users 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Users 1": {
        "main": [
          [
            {
              "node": "Extract Base Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Fitness": {
        "main": [
          [
            {
              "node": "Users 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Users 2": {
        "main": [
          [
            {
              "node": "Extract Base Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Motivation": {
        "main": [
          [
            {
              "node": "Users 3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Users 3": {
        "main": [
          [
            {
              "node": "Extract Base Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Debabrata Maitra",
    "name": "Version 10af1940",
    "description": "",
    "autosaved": false
  },
  "tags": []
}